<h2> Products in the market </h2>


<ul>
  <% @products.each do |product| %>
    <li>
      Product Name: "<%= product.name %>" costs $<%= product.price %>  |  
	  Sold by <%= product.user.name if product.user.present? %>    
    </li>
  <%= link_to 'Product', product %>
  <%= link_to 'Destroy', product, method: 'delete', data: { confirm: 'Are you sure?' } %>
  <% end %>
  
</ul>